.genre-body {
    @include height-width-Setter(100%,90%,10px 0);
    @include flexBox(center,none,0rem,column);
    background: $primary-background-color;
    >.genre-container {
        @include height-width-Setter(auto,100%);
        display: flex;
        > .genre-list {
            @include height-width-Setter(18%,100%,0.5rem);
            @include flexBox(center,flex-start,0rem,column);
            overflow-x: auto;
            @include scrollBar();
            > button {
                width:100%;
                @include ButtonSytles(30px,none,0.7rem 1rem,$primary-text-color,none,0.6rem 0);
                font-weight: 500;
                &:hover {
                    background-color: $secondary-background-color;
                }
            }
        }
        >.MoviesList{
          @include height-width-Setter(85%,100%);
          text-align: center;
          > div{
            @include height-width-Setter(95%,auto);
          }
        }
    }
}


@media only screen and (max-width: 700px) {
    .genre-body{
        > .genre-container{
            >.genre-list{
                width:33%;
                > button {
                    font-size: 0.8rem;
                    font-style: bold;
                }
            }
            >.MoviesList{
                width: 66%;
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    .genre-body{
        > .genre-container{
            >.genre-list{
                width:35%;
                > button {
                    font-size: 0.7rem;
                    font-style: bold;
                }
            }
            >.MoviesList{
                width: 65%;
                > div{
                    >.card{
                        @include height-width-Setter(230px,300px);
                    }
                }
            }
        }
    }
}